
/**************** GENERAL SETTINGS ****************/

* {
	margin:0px;
	padding:0px;
	color:#2e2d30;
	font-family:Arial, Helvetica, sans-serif;
}

p {
	margin-bottom: 10px;
    margin-top: 10px;
}

hr {
	border:dashed #CCC 1px;
	border-bottom:0px;
	border-left:0px;
	width:100%;
	margin: 10px 2px;
	padding: 0px 5px;
}


ul, ol {
	margin-left:30px;
}

/***** GENERIC Titles ******/

h1.big {
	font-size:45px;/** titre intro **/
}

h1,
h1 a,
h1 span {
	color:#E88401;
	font-size:28px;
	padding-top:5px;
	padding-bottom:10px;
	font-family: ITCAvantGardeStd-Md, Arial, Helvetica, sans-serif;
	font-weight:normal;
	text-decoration: none;
}

h2,
h2 a,
h2 span
 {
	font-family: ITCAvantGardeStd-Md, Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#E88401;
	font-size:20px;
	margin-top:30px;
	margin-bottom:20px;
	text-decoration: none;
}

h3,
h3 a,
h3 span {
	color:#E88401;
	font-weight:normal;
	font-size:15px;
	margin-top:10px;
	font-family: ITCAvantGardeStd-Md, Arial, Helvetica, sans-serif;
	text-decoration: none;
}

h1.grey {
	color:#b9b9b9;
	font-size:48px;
	text-align:justify;
	text-align:center;
}

h1.yellow {
	color: #F9B536;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    padding-top: 25px;
    text-align: center;
    text-transform: uppercase;
}

/**************** GENERIC COMPOSANTS ****************/

.count {
	color:#f9b536;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:25px;
	display:block;
}

.datehour {
	font-style:italic;
	font-size:11px;
	color:#666;
	margin-right:10px;
}

.left {
	text-align: left;
}

/* Used to set width cell in table as narrower as possible. */
.narrower {
	width: 10px;
}

.center
{
	text-align: center;
}

.right
{
	text-align: right;
}

.italic
{
    font-style: italic;
}

.underline
{
	text-decoration: underline;
}

.bold
{
	font-weight: bold;
}

.unresizable
{
	resize: none;
}

.shift_right
{
	/* Useful with second button */
	display:inline-block;
	float:right;"
}

.without
{
	list-style-type:none;
}

.background_green
{
	background-color: #dff0d8;
}

.background_orange
{
    background-color: #FFCBA4;
}

.background_red
{
    background-color: red;
}


/***** GENERIC COLUMNS *****/

.row {
	display: block;
}

.row:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.column {
	display: inline;
	float: left;
}

/***** GENERIC BUTTONS *****/

/*******/

a.button {
	background-color: #2E2D30;
    color: #FDCA59;
	text-decoration: none;
    text-transform: uppercase;
	margin-top:15px;
	margin-bottom:15px;
    padding:10px;
	display:inline-block;
	font-family: ITCAvantGardeStd-Md, Arial, Helvetica, sans-serif;
}

a.button:hover {
	background-color:#5f5d63;
}

input[type=button],
input[type=file],
input[type=reset],
input[type=submit] {
	text-transform:uppercase;
	font-family: ITCAvantGardeStd-Md, Arial, Helvetica, sans-serif;
	color: #FDCA59;
	padding:10px;
	background-color:#2e2d30;
	text-decoration:none;
	display:inline-block;
	width:auto;
	border:0px;
	font-size:13px;
}

input[type=button]:hover,
input[type=file]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
	background-color:#5f5d63;
	cursor:pointer;
}

/*******/

a.button_second {
	background-color:#ECECEC;
	width:auto;
	color:#333;
	padding:5px;
	margin-top:10px;
	margin-bottom:10px;
	text-transform:uppercase;
	font-family: ITCAvantGardeStd-Md, Arial, Helvetica, sans-serif;
	text-decoration:none;
}

a.button_second:hover {
	background-color:#5f5d63;
	text-decoration:none;
	color:white;
}

input[type=button].button_second,
input[type=file].button_second,
input[type=reset].button_second,
input[type=submit].button_second {
	background-color:#ECECEC;
	color:#333;
	padding:4px;
}

input[type=button].button_second:hover,
input[type=file].button_second:hover,
input[type=reset].button_second:hover,
input[type=submit].button_second:hover {
	background-color:#5f5d63;
	text-decoration:none;
	color:white;
}

/*******/

a.button_connected {
	background-color: #2E2D30;
    color: #FDCA59;
	text-decoration: none;
    text-transform: uppercase;
	margin-top:15px;
	margin-bottom:15px;
    padding:5px;
	display:inline-block;
	font-family: ITCAvantGardeStd-Md, Arial, Helvetica, sans-serif;
}

a.button_connected:hover {
	background-color:#5f5d63;
}

input[type=button].button_connected,
input[type=file].button_connected,
input[type=reset].button_connected,
input[type=submit].button_connected {
	background-color:#2E2D30;
	color:#FDCA59;
	padding:4px;
}

input[type=button].button_connected:hover,
input[type=file].button_connected:hover,
input[type=reset].button_connected:hover,
input[type=submit].button_connected:hover {
	background-color:#5f5d63;
}

/*******/

a.button_webmaster {
	background-color: #FDCA59;
    color: #2E2D30;
	text-decoration: none;
    text-transform: uppercase;
	margin-top:15px;
	margin-bottom:15px;
    padding:5px;
	display:inline-block;
	font-family: ITCAvantGardeStd-Md, Arial, Helvetica, sans-serif;
}

a.button_webmaster:hover {
	background-color:#F7AC0E;
}

input[type=button].button_webmaster,
input[type=file].button_webmaster,
input[type=reset].button_webmaster,
input[type=submit].button_webmaster {
	background-color: #FDCA59;
	color:#2E2D30;
	padding:4px;
}

input[type=button].button_webmaster:hover,
input[type=file].button_webmaster:hover,
input[type=reset].button_webmaster:hover,
input[type=submit].button_webmaster:hover {
	background-color:#F7AC0E;
}


/***** GENERIC TABLES *****/

table a {
	text-decoration:none;
}

.center_table
{
	margin-left: auto;
	margin-right: auto;
}

.td_number {
	text-align: right;
	width: 75px;
}

.first_column_valign_top > tr > td:first-child{
	vertical-align: top;
}

table > thead > tr.active > td,
table > thead > tr.active > th,
table > thead > tr > td.active,
table > thead > tr > th.active,
table > tbody > tr.active > td,
table > tbody > tr.active > th,
table > tbody > tr > td.active,
table > tr > td.active,
table > tbody > tr > th.active,
table > tr > th.active,
table > tfoot > tr.active > td,
table > tfoot > tr.active > th,
table > tfoot > tr > td.active,
table > tfoot > tr > th.active
{
    background-color: #e5e5e5;
}

table > thead > tr.info > td,
table > thead > tr.info > th,
table > thead > tr > td.info,
table > thead > tr > th.info,
table > tbody > tr.info > td,
table > tbody > tr.info > th,
table > tbody > tr > td.info,
table > tr > td.info,
table > tbody > tr > th.info,
table > tr > th.info,
table > tfoot > tr.info > td,
table > tfoot > tr.info > th,
table > tfoot > tr > td.info,
table > tfoot > tr > th.info
{
    background-color: #d9edf7;
}

table > thead > tr.success > td,
table > thead > tr.success > th,
table > thead > tr > td.success,
table > thead > tr > th.success,
table > tbody > tr.success > td,
table > tbody > tr.success > th,
table > tbody > tr > td.success,
table > tr > td.success,
table > tbody > tr > th.success,
table > tr > th.success,
table > tfoot > tr.success > td,
table > tfoot > tr.success > th,
table > tfoot > tr > td.success,
table > tfoot > tr > th.success
{
    background-color: #dff0d8;
}

table > thead > tr.warning > td,
table > thead > tr.warning > th,
table > thead > tr > td.warning,
table > thead > tr > th.warning,
table > tbody > tr.warning > td,
table > tbody > tr.warning > th,
table > tbody > tr > td.warning,
table > tr > td.warning,
table > tbody > tr > th.warning,
table > tr > th.warning,
table > tfoot > tr.warning > td,
table > tfoot > tr.warning > th,
table > tfoot > tr > td.warning,
table > tfoot > tr > th.warning
{
    background-color: #faf5e3;
}

table > thead > tr.alert > td,
table > thead > tr.alert > th,
table > thead > tr > td.alert,
table > thead > tr > th.alert,
table > tbody > tr.alert > td,
table > tbody > tr.alert > th,
table > tbody > tr > td.alert,
table > tr > td.alert,
table > tbody > tr > th.alert,
table > tr > th.alert,
table > tfoot > tr.alert > td,
table > tfoot > tr.alert > th,
table > tfoot > tr > td.alert,
table > tfoot > tr > th.alert
{
    background-color: #ffcba4;
}

table > thead > tr.danger > td,
table > thead > tr.danger > th,
table > thead > tr > td.danger,
table > thead > tr > th.danger,
table > tbody > tr.danger > td,
table > tbody > tr.danger > th,
table > tbody > tr > td.danger,
table > tr > td.danger,
table > tbody > tr > th.danger,
table > tr > th.danger,
table > tfoot > tr.danger > td,
table > tfoot > tr.danger > th,
table > tfoot > tr > td.danger,
table > tfoot > tr > th.danger
{
    background-color: #ff0000;
}

/*******/
.hovertable > tbody > tr.active:hover > td,
.hovertable > tbody > tr.active:hover > th,
.hovertable > tbody > tr:hover > .active,
.hovertable > tbody > tr > td.active:hover,
.hovertable > tbody > tr > th.active:hover,
.hovertable > tr.active:hover > td,
.hovertable > tr.active:hover > th,
.hovertable > tr:hover > .active,
.hovertable > tr > td.active:hover,
.hovertable > tr > th.active:hover
{
    background-color: #d5d5d5;
}

.hovertable > tbody > tr.info:hover > td,
.hovertable > tbody > tr.info:hover > th,
.hovertable > tbody > tr:hover > .info,
.hovertable > tbody > tr > td.info:hover,
.hovertable > tbody > tr > th.info:hover,
.hovertable > tr.info:hover > td,
.hovertable > tr.info:hover > th,
.hovertable > tr:hover > .info,
.hovertable > tr > td.info:hover,
.hovertable > tr > th.info:hover
{
    background-color: #d0e0f0;
}

.hovertable > tbody > tr.success:hover > td,
.hovertable > tbody > tr.success:hover > th,
.hovertable > tbody > tr:hover > .success,
.hovertable > tbody > tr > td.success:hover,
.hovertable > tbody > tr > th.success:hover,
.hovertable > tr.success:hover > td,
.hovertable > tr.success:hover > th,
.hovertable > tr:hover > .success,
.hovertable > tr > td.success:hover,
.hovertable > tr > th.success:hover
{
    background-color: #d0e9c6;
}

.hovertable > tbody > tr.warning:hover > td,
.hovertable > tbody > tr.warning:hover > th,
.hovertable > tbody > tr:hover > .warning,
.hovertable > tbody > tr > td.warning:hover,
.hovertable > tbody > tr > th.warning:hover,
.hovertable > tr.warning:hover > td,
.hovertable > tr.warning:hover > th,
.hovertable > tr:hover > .warning,
.hovertable > tr > td.warning:hover,
.hovertable > tr > th.warning:hover
{
    background-color: #eae5c3;
}

.hovertable > tbody > tr.alert:hover > td,
.hovertable > tbody > tr.alert:hover > th,
.hovertable > tbody > tr:hover > .alert,
.hovertable > tbody > tr > td.alert:hover,
.hovertable > tbody > tr > th.alert:hover,
.hovertable > tr.alert:hover > td,
.hovertable > tr.alert:hover > th,
.hovertable > tr:hover > .alert,
.hovertable > tr > td.alert:hover,
.hovertable > tr > th.alert:hover
{
    background-color: #f0bb94;
}

.hovertable > tbody > tr.danger:hover > td,
.hovertable > tbody > tr.danger:hover > th,
.hovertable > tbody > tr:hover > .danger,
.hovertable > tbody > tr > td.danger:hover,
.hovertable > tbody > tr > th.danger:hover,
.hovertable > tr.danger:hover > td,
.hovertable > tr.danger:hover > th,
.hovertable > tr:hover > .danger,
.hovertable > tr > td.danger:hover,
.hovertable > tr > th.danger:hover
{
    background-color: #e00000;
}

/*******/

.table_default {
	border-spacing:0px;
	border-collapse:collapse;
	width:100%;
}

.table_default > tr > th,
.table_default > thead > tr > th,
.table_default > tbody > tr > th {
	background-color:;
	border-collapse:collapse;
	text-align:left;
	font-weight:bold;
	padding:5px;
	font-size:13px;
	background:url("/charter/line.png") #D9DADB right no-repeat;
}

.table_default > tr:hover,
.table_default > tbody > tr:hover {
	background-color:#ECECEC;
}

.table_default > tr > td,
.table_default > tbody > tr > td {
	vertical-align:top;
	padding:5px;
	margin-top:15px;
	margin-bottom:15px;
}

/*******/

.table_classic {
	border:0px;
	width:100%;
	margin: 0;
	border-collapse: collapse;
}

.table_classic > tr > th,
.table_classic > thead > tr > th, 
.table_classic > tbody > tr > th {
	background-color:#ECECEC;
	border:1px solid #DCDCDC;
	margin: 5px;
	padding: 5px;
}

.table_classic > tr > td,
.table_classic > tbody > tr > td,
.table_classic > tfoot > tr > td {
	border:1px solid #ECECEC;
	margin: 5px;
	padding: 5px;
}

.table_classic > tr:hover,
.table_classic > tbody > tr:hover {
    background-color:#ECECEC;
}


/*******/

.table_glued {
	border:0px;
	width:100%;
	border-collapse: collapse;
}

.table_glued > tr > th,
.table_glued > tbody > tr > th {
	background-color:#ECECEC;
	border:0px;
}

.table_glued > tr > td,
.table_glued > tbody > tr > td {
	border:1px solid #ECECEC;
}

/*******/

.table_thin_borders {
	border-collapse: collapse;
}

.table_thin_borders > tr,
.table_thin_borders > tbody > tr {
	border: 1px solid black;
}

.table_thin_borders > tr > th,
.table_thin_borders > tbody > tr > th {
	border: 1px solid black;
	margin: 5px;
	padding: 5px;
}

.table_thin_borders > tr > td,
.table_thin_borders > tbody > tr > td {
	border: 1px solid black;
	margin: 5px;
	padding: 5px;
}

/*******/

.table_form > tr > th,
.table_form > tbody > tr > th,
.table_form > tr > td,
.table_form > tbody > tr > td {
	padding-bottom: 10px;
}

.table_form > tr > th:first-child,
.table_form > tbody > tr > th:first-child,
.table_form > tr > td:first-child,
.table_form > tbody > tr > td:first-child { 
	vertical-align: top;
}

/*******/
.table_simple {
	border: 0px solid red;
	border-spacing: 0px;
	border-collapse: collapse;
	width: 100%;
	margin: 0;
	padding: 0;
}


.table_simple > tr > th,
.table_simple > tbody > tr > th {
	color: #2e2d30;
	border: 0px none red;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left;
	font-weight: 550;
	margin: 0;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 5px;
	font-size: 13px;
	vertical-align: top;
}

.table_simple > tr,
.table_simple > tbody > tr {
	border: 0px none red;
	border-collapse: collapse;
	border-spacing: 0;
}

.table_simple > tr:hover,
.table_simple > tbody > tr:hover {
	background-color: #d9dadb;
}

.table_simple > tr > td,
.table_simple > tbody > tr > td {
	vertical-align: top;
	padding-top: 3px;
	padding-bottom: 3px;
	margin: 0px;
	border: 0px none red;
	border-spacing: 0;
	border-collapse: collapse;
	color: #6f6e60;  /* #2e2d30; */
}

/*******/

.table_wizard {
	border:0px;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

.table_wizard > tr > th,
.table_wizard > tbody > tr > th {
	background-color:#ECECEC;
	border:1px solid #DCDCDC;
	margin: 5px;
	padding: 5px;
}

.table_wizard > tr > td,
.table_wizard > tbody > tr > td {
	vertical-align: top;
	text-align: center;
	border:1px solid #ECECEC;
	margin: 5px;
	padding: 5px;
	width: 90px;
}

.table_wizard > tr > .current_step,
.table_wizard > tbody > tr > .current_step {
	background-color: #ececec;
}



/****** GENERIC PANEL *****/
.panel {
	width: auto;
	margin-top:0px;
	margin-bottom: 15px;
	margin-right:0px;
	margin-left:0px;
	background-color:#ECECEC;
	border-radius:5px;
	padding:20px;
}


/***** GENERIC SUBMENU *****/

.submenu {
	margin-top:40px;
	margin-left:30px;
	width:200px;
	background-color:#ECECEC;
	border-radius:5px;
	padding:10px;
	margin-bottom:50px;
}

.submenu a.active {
	color:white;
	text-decoration:none;
	background-color:#333;
}

.submenu a {
	color:#333;
	padding:3px;
	display:block;
	text-decoration:none;
}

.submenu a:hover {
	color:white;
	text-decoration:none;
	background-color:#333;
}

.submenu ul {
	margin-left:0px;
}

.submenu li {
	list-style-type:none;
}

.submenu_content {
	margin-left: 50px;
	width: 650px;
}

/***** GENERIC INPUT *****/

input[type=checkbox],
input[type=radio] {
	margin-right:10px;
	vertical-align: middle;
}

textarea {
	font-size:13px;
	background-color: #FFFFFF;
    border: 1px solid #D9DADB;
	width:100%;
	padding:5px;
	min-height:100px;
}

input[type=email],
input[type=number],
input[type=password],
input[type=text],
input[type=url] {
    background-color: #FFFFFF;
    border: 1px solid #D9DADB;
    font-size: 13px;
    padding: 5px;
}

select {
	font-size:13px;
	background-color: #FFFFFF;
    border: 1px solid #D9DADB;
	padding: 5px;
}

option {
	padding-right:50px;
}

/***** GENERIC TOOLTIPS ******/

/*******/

.bubble_icon {
	position: relative;
	color: black;
	text-decoration: none;
	margin-right: 3px;
}

.bubble_icon span {
	display: none; /* Hide bubble */
}

.bubble_icon:hover {
	background: none; /* Fix Microsoft d'Internet Explorer bug. */
	z-index: 500; /* Set depth order.  */
}

.bubble_icon:hover span {
	display: inline; /* Show bubble */
	position: absolute;
	white-space: wrap;
	
	/* Set bubble position */
	top: 0px;
	left: 5px;
	
	/* Set bubble design */
	width: 290px;
	background-image:none;
	border:0;
	background-color: #d9dadc;
    color: #2E2D30;
	text-decoration: none;
	text-align: left;
	margin: 5px;
    padding: 5px;
	border-radius: 0px;
    box-shadow: 0;
	text-shadow: 0 0px 0px #FFFFFF;
}

.bubble_icon:hover span p {
	margin: 0;
}

/*******/

.bubble {
	position: relative;
	color: black;
	text-decoration: none;
	margin-right: 0px;
}

.bubble span {
	display: none; /* Hide bubble */
}

.bubble:hover {
	background: none; /* Fix Microsoft d'Internet Explorer bug. */
	z-index: 500; /* Set depth order.  */
}

.bubble:hover span {
	display: inline; /* Show bubble */
	position: absolute;
	white-space: wrap;
	
	/* Set bubble position */
	top: 10px;
	left: 10px;
	
	/* Set bubble design */
	width: 290px;
	background-image:none;
	border:0;
	background-color: #d9dadc;
    color: #2E2D30;
	text-decoration: none;
	text-align: left;
	margin: 5px;
    padding: 5px;
	border-radius: 0px;
    box-shadow: 0;
	text-shadow: 0 0px 0px #FFFFFF;
}

.bubble:hover span p {
	margin: 0;
}


/***** GENERIC ASTERISKS *****/

.asterisk {
	font-weight: bold;
	color: #E88401;
}

.asterisk_note {
	margin-top: -15px;
	width: 95%;
	color: #2E2D30;
	text-align: right;
}

/***** GENERIC ICONS *****/

.created {
	display:block;
	width:20px;
	height:20px;
	background-image:url("/charter/commons/created.png");
	background-repeat:no-repeat;
}

.submitted {
	display:block;
	width:20px;
	height:20px;
	background-image:url("/charter/commons/submitted.png");
	background-repeat:no-repeat;
}

.validated {
	width:20px;
	height:20px;
	background-image:url("/charter/commons/validated.png");
	background-repeat:no-repeat;
}

.deleted {
	display:block;
	width:20px;
	height:20px;
	background-image:url("/charter/commons/deleted.png");
	background-repeat:no-repeat;
}

/**************** GENERIC PAGE CHARTER ****************/

#charter {
	background-image:url("/charter/bg-repeat.jpg");
	width:100%;
	font-size: 13px;
}

#charter #header #logo_zone img {
	width:320px;
	height:218px;
	border: 0px none white;
}

#charter #header #logo_zone {
	position:absolute;
	width:320px;
	height:220px;
	color:white;
	background-repeat:no-repeat;
	display: inline;
    float: left;
}

#charter #header #user_zone {
	position:static;
	border:0px;
	width:970px;
	text-align:right;
}

#charter #header #user_zone form {
	float:right;
	padding-top:2px;
	margin-right:10px;
}

#charter #header #user_zone #charter_language {
	font-size:13px;
	background-color: #FFFFFF;
    border: 1px solid #D9DADB;
	padding:0px;
}

#charter #header #user_zone #charter_language option {
	padding-right:10px;
}

#charter #header #user_zone .button_session_container {
	float:right;
	padding-top:7px;
}

#charter #header #user_zone .button_session {
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	float:left;
	color:#9c9e9f;
	font-size:12px;
	text-align:left;
	margin-right:10px;
	float:left;
	text-decoration:none;
}

#charter #header #user_zone .button_session:hover {
	color:black;
	text-decoration:none;
}

#charter #header {
	margin:0px;
	height:30px;
	width:970px;
	margin:0 auto;
	position: relative;
}

#charter #menu_container {
	background-color:#2e2d30;
	border-top:#f9b536 solid 5px;
}

#charter #menu {
	width:970px;
	height:100px;
	margin:0 auto;
}

#charter #content_zone {
	clear:both;
	border:0;
	margin-left: auto;
    margin-right: auto;
	margin-top:80px;
	margin-bottom:20px;
	min-height:520px;
    width: 970px;
}

/***** CHARTER MENU *****/

#menu a {
	font-family:ITCAvantGardeStd-Md,Arial,Helvetica,sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:40px 18px 36px 18px;
	color: #FFFFFF;
	text-transform: uppercase;
	display:block;
	text-decoration:none;
}

#menu a.active {
	border-bottom:#f9b536 solid 5px;
	color:#F9B536;
} 

#menu ul {
	margin-left:320px;
}

#menu a:hover {
	border-bottom:#f9b536 solid 5px;
	color:#F9B536;
}

#menu li {
	float:left;
	list-style-type:none;
}

/***** CHARTER FOOTER *****/

#footer-container {
    background-color: #F9B536;
    clear: both;
    height: 150px;
}

.footer1,
.footer2 {
	margin-left: 0px;
	margin-right:75px;
	float:left;
	padding-top:20px;
}

.footer1 a,
.footer2 a {
	font-family: ITCAvantGardeStd-Md, Arial, Helvetica, sans-serif;
	color:black;
	font-size:11px;
	text-decoration:none;
}

.footer1 a:hover,
.footer2 a:hover {
	color:#333;
}

.footer1 li,
.footer2 li {
	list-style-type:none;
	margin-bottom:15px;
}

#copyright-rss {
	float:right;
	padding-top:10px;
	color:black;
	padding-top:10px;
}

#charter_copyright {
	font-family: ITCAvantGardeStd-Md, Arial, Helvetica, sans-serif;
	font-size:11px;
}

#charter_footer_menu a {
    padding: 4px;
	font-size:10px;
	text-decoration:none;
}

#charter #footer_zone {
    margin: 0;
    position: relative;
	width:970px;
	margin:0 auto;
}

#charter #copy {
	float:left;
	padding-top:20px;
	color:#838089;
	font-size:10px;
	font-family: ITCAvantGardeStd-Md, Arial, Helvetica, sans-serif;
}

#charter #partner_zone {
	border:0;
	position:static;
	float:right;
	height:200px;
	padding-top:20px;
	text-align:right;
	background:transparent;
	height:50px;
}

#charter #partner_zone br {
	display:none;
}

#charter #partner_zone img {
	height:40px;
	margin-left:5px;
	margin-right:5px;
}

#charter #extra_container {
	width:970px;
	margin:0 auto;
}

#charter #rss_zone {
	padding-top:10px;
	margin-top:45px;
	text-align:right;
}

#charter #rss_zone img {
	width:28px;
}

/******************************** PAGE HOME ********************************/

/***** HOME WELCOME *****/

#welcome_container {
	width:970px;
	margin:0 auto;
	background-image:url("/welcome/fond-header.png");
	background-repeat:no-repeat;
	height:440px;
	text-align:justify;
	margin-top:-50px;
}

#welcome_container p {
	margin-bottom:10px;
}

#welcome_container ul {
	margin-left:30px;
	margin-bottom:10px;
}

#welcome_container h1.one {
	font-size:28px;/** titre intro **/
	padding-top:80px;
}

/***** HOME AREA EXEMPLES *****/

#area_exemples {
	background-color:white;
	min-height:450px;
	margin-bottom:40px;
}

/***** HOME MAP FIGURES *****/

#map_figures #figures_container #dataset_count_label,
#map_figures #figures_container #dataset_count {
	padding-left:20px;
}

#map_figures #figures_container #dataset_individual_count_label,
#map_figures #figures_container #dataset_individual_count {
	padding-left:150px;
}

#map_figures #figures_container #dataset_union_count_label,
#map_figures #figures_container #dataset_union_count {
	padding-left:50px;
}

#map_figures #figures_container #account_count_label,
#map_figures #figures_container #account_count {
	padding-left:178px;
}

#map_figures #figures_container #forum_topic_count_label,
#map_figures #figures_container #forum_topic_count {
	padding-left:10px;
}

#map_figures #figures_container #forum_message_count_label,
#map_figures #figures_container #forum_message_count {
	padding-left:120px;
}

/***** HOME SEARCH *****/

#search_container, #browser_container {
	width:930px;
	padding:20px;
	text-align:justify;
	clear:both;
}

#charter #content_zone #search_container ul,
#charter #content_zone #browser_container ul {
	margin-left:0;
}

#charter #content_zone #search_container a.button_second {
	display:inline-block;
	float:right;
}

#search_container p,
#browser_container p {
	margin-bottom:5px;
}

#search_container li,
#browser_container li {
	list-style-type:none;
	margin-bottom:10px;
	float:left;
	width:230px;
	padding:5px 40px;
}


/***** HOME BROWSER *****/

#charter #browser_container p {
	clear:both;
}

#charter #content_zone #browser_container a.button_second {
	display:inline-block;
	float:right;
}

/***** HOME ACTALOG NEWS *****/

#actalog_container, #news_container {
	float:left;
	width:450px;
}

#charter #content_zone #actalog_container ul,
#charter #content_zone #news_container ul {
	margin-left:0px;
}

#news_container {
	margin-right:70px;
}

#news_events {
	margin-top:50px;
	margin-bottom:50px;
	min-height:450px;
}

#actalog_container li {
	list-style-type:none;
}

a.view_title,
.view_title {
	font-weight:bold;
	text-decoration:none;
	display:block;
	margin-bottom:5px;
}

a.view_title hover {
	color:#58585a;
}

.news_content {
	color:#58585a;
}

/******* HOME MAP - FIGURES *******/

#map_figures {
	width:970px;
	clear:both;
}

/******* HOME MAP *******/

#map {
	width:588px;
	height:325px;
	background-image:url("/welcome/bg-map.png");
	background-repeat:no-repeat;
	float:left;
}

/******* HOME FIGURES *******/

#figures_container {
	float:left;
	width:265px;
	height:350px;
	background-image:url("/welcome/bg-figures.jpg");
	background-repeat:no-repeat;
	margin-left:90px;
	color:black;
}

#charter #content_zone #figures_container ul {
	margin-left:0px;
}

#figures_container li {
	list-style-type:none;
	display:block;
}

/******************************** PAGE ARTICLE ********************************/

#article {
	width: 620px;
}

#article p {
	margin-top:10px;
	margin-bottom:10px;
	text-align:justify;
}

#article a {
	color:#666;
	text-decoration:none;
}

#article a:hover {
	color:#999;
}

#article a.button {
	color:#FDCA59;
	text-decoration:none;
}


#article h1 {
	font-size:25px;
}

#content_zone_container h1 a {
	color:#E88401;
	text-decoration:none;
}

#article ul {
	margin-left:30px;
	margin-top:10px;
}

#article li {
	margin-bottom:5px;
}

#article img {
	padding-left:10px;
	padding-right:10px;
}

/******************************** PAGE ARTICLE ********************************/

#forum_title {
	color:#666;
}

#login {
	background-color:#ECECEC;
	width:300px;
	padding:20px;
}

/******************************** PAGE DATASET ********************************/

#dataset #label_id,
#dataset #id {
	color: #2e2d30;
	font-size: 13px;
}

/*******/
#dataset #panels .table_simple th {
	font-size: 13px;
	width: 165px;
	padding-left: 2px;
}

#dataset #panels .table_simple td {
	font-size: 13px;
	padding-right: 10px;
}

/*******/
#dataset #panel_at_left {
	width: 690px;
	border: 0px solid yellow;
}

/*******/
#dataset #panel_at_right {
	width: 280px;
}

#dataset #panel_statistics_link {
	width: 135px;
	height: 45px;
	padding: 0;
	text-align: left;
	vertical-align: middle;
}

#dataset #panel_statistics_link h2 {
	margin: 0;
	padding-top: 10px;
	padding-left: 15px;
}

/*******/
#dataset #panel_attributes_link {
	width: 135px;
	height: 45px;
	padding: 0;
	text-align: left;
	vertical-align: middle;
}

#dataset #panel_attributes_link h2 {
	padding-top: 10px;
	margin: 0;
	padding-left: 15px;
}

/*******/
#dataset #panel_dataset_file {
	width: 100%;
	padding: 0 0 10px 0;
	text-align: left;
}

#dataset #panel_dataset_file > * {
	padding-top: 10px;
	margin: 0;
	padding-left: 15px;
	padding-right: 15px;
}

#dataset #panel_dataset_file p {
	margin: 0;
	padding: 0;
	padding-bottom: 4px;
}
#dataset #panel_dataset_file a {
	margin: 0;
	text-decoration: none;
}

#dataset #panel_dataset_file i,
#dataset #panel_dataset_file i span {
	color: #6f6e60;
	font-size: 11px;
}

/*******/
#dataset #panel_attachment_files {
	width: 100%;
	min-height: 165px;
	padding: 0 0 10px 0;
	text-align: left;
}

#dataset #panel_attachment_files > * {
	padding-top: 10px;
	margin: 0;
	padding-left: 15px;
	padding-right: 15px;
}

#dataset #panel_attachment_files p {
	margin: 0;
	padding: 0;
	padding-bottom: 4px;
}

#dataset #panel_attachment_files ul {
	margin: 0;
	padding: 0;
}

#dataset #panel_attachment_files li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#dataset #panel_attachment_files a {
	margin: 0;
	text-decoration: none;
}

#dataset #panel_attachment_files i,
#dataset #panel_attachment_files i span {
	color: #6f6e60;
	font-size: 11px;
}

/*******/
#dataset #panel_collaborators {
	width: 100%;
	min-height: 165px;
	padding: 0 0 10px 0;
	text-align: left;
}

#dataset #panel_collaborators > * {
	padding-top: 10px;
	margin: 0;
	padding-left: 15px;
	padding-right: 15px;
}

#dataset #panel_collaborators td {
	padding-bottom: 10px;
}

#dataset #panel_collaborators tr:hover {
	background-color: #d9dadb;
}

#dataset #panel_collaborators a {
	margin: 0;
	text-decoration: none;
}

#dataset #panel_collaborators .collaborator_name {
	font-weight: bold;
	font-size: 13px;
} 

#dataset #panel_collaborators .collaborator_description {
 	color: #2E2D30;
    font-size: 11px;
}


/******************************** DATASET STATISTICS VIEW ********************************/
#statistics_section .table_simple td {
	font-size: 11px;
}

#statistics_section #statistics_iurg {
	 width: auto;
	 float: right;
}

#statistics_section #statistics_iurg th,
#statistics_section #statistics_iurg td {
	 vertical-align: middle;
}

/***************************** DATASET PUBLICATION WIZARD PAGES ********************************/
#wizard_top_navigation {
	/* Shift to right */
	display:inline-block;
	float:right;"
}

#wizard_top_navigation > #previous_button_top {
	margin-right: 30px;
	next_button_top: margin-right: 80px;
}

#wizard_top_navigation > #previous_button_top_alone {
	margin-right: 160px;
	next_button_top: margin-right: 80px;
}

#wizard_top_navigation > #next_button_top {
	margin-right: 80px;
}

