/**
 * @license
 * MyFonts Webfont Build ID 2753045, 2014-02-21T09:13:15-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: ITC Avant Garde Gothic Std Medium by ITC
 * URL: http://www.myfonts.com/fonts/itc/avant-garde-gothic/std-medium/
 * Copyright: Font software Copyright 1993, 1994, 2001 Adobe Systems Incorporated. Typeface designs Copyright 2005 International Typeface Corporation. All rights reserved.
 * Licensed pageviews: 250,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2753045
 * 
 * © 2014 MyFonts Inc
*/

/* @import must be at top of file, otherwise CSS will not work */
/*
 * The following line is commented for performance reason.
@import url("//hello.myfonts.net/count/2a0215");
*/

@font-face {
	font-family: 'ITCAvantGardeStd-Md';
	src: url('/charter/webfonts/2A0215_0_0.eot');
	src: url('/charter/webfonts/2A0215_0_0.eot?#iefix') format('embedded-opentype'),
		 url('/charter/webfonts/2A0215_0_0.woff') format('woff'),
		 url('/charter/webfonts/2A0215_0_0.ttf') format('truetype');
}
